.project
.classpath
.settings/
.factorypath
application-logs/
target/
tomcat/
logs/
application.pid
spring.log
src/test/resources/localworkingdir/temp/*.xml
src/test/resources/ftpserver/temp/*.xml
src/test/resources/ftpserver/temp/archive/*.xml
/.apt_generated/
logging.path_IS_UNDEFINED/
