<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %-30([%d] [%thread]) %logger{36}: %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logging.path}/boot-error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.path}/boot-error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
		<encoder>
			<pattern>%-5level %-30([%d] [%thread]) %logger{36}: %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="application" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logging.path}/boot-application.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.path}/boot-application.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
		<encoder>
			<pattern>%-5level %-30([%d] [%thread]) %logger{36}: %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="TEST" class="uk.gov.hmrc.dra.xfr.ftp.client.TestAppender">
		<encoder>
			<pattern>%m%n</pattern>
		</encoder>
	</appender>

	<logger name="uk.gov.hmrc.dra.dts" level="INFO">
		<appender-ref ref="error" />
		<appender-ref ref="application" />
	</logger>

	<root level="INFO">
		<level value="error" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="TEST" />
	</root>

</configuration>
